<div class="devtools-app-ng no-drag">
  <div class="p-grid p-nogutter">
    <div class="p-col-3 p-col-align-center">
      <h2>Devtools App ({{ version }})</h2>
    </div>
    <div class="p-col-9 p-col-align-center">
      <p-tabMenu #tabsMenu [model]="tabs" [activeItem]="tabs[0]" styleClass="p-justify-end" (click)="activateTab()">
        <ng-template pTemplate="item" let-tab let-i="index">
          {{tab.label}}
        </ng-template>
      </p-tabMenu>
    </div>
    <!-- <div class="p-col-1 p-col-align-center">
      <p-button type="button" icon="fa fa-times" styleClass="ui-button-secondary" (click)="quit($event)"></p-button>
    </div> -->
    <div class="p-col-12 p-col-align-center tabs">
      <ng-container [ngSwitch]="activeTab.id">
        <ng-container *ngSwitchCase="tabs[0].id">
          <div class="p-grid p-nogutter">
            <div class="p-col-4 p-col-align-center">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">http://</span>
                <input type="text" size=7 pInputText placeholder="host" [(ngModel)]="chromeHost">
                <span class="ui-inputgroup-addon">:</span>
                <input type="text" size="4" pInputText placeholder="port" [(ngModel)]="chromePort">
                <p-button type="button" icon="fa fa-play" styleClass="ui-button-success" (click)="connect($event)"></p-button>
              </div>
            </div>
            <div class="p-col-2 p-col-align-center" style="text-align: end;">
              <b>Select page:&nbsp;&nbsp;</b>
            </div>
            <div class="p-col-5 p-col-align-center">
              <p-dropdown [options]="inpsectablePages" [(ngModel)]="inpsectablePage" optionLabel="url" [style]="{'width': '100%'}"></p-dropdown>
            </div>
            <div class="p-col-1 p-col-align-center" style="text-align: end;">
              <p-button type="button" icon="fa fa-bug" styleClass="ui-button-success" [disabled]="inpsectablePages.length === 0" (click)="launchDevtools($event)"></p-button>
              &nbsp;
              <p-button type="button" icon="fa fa-times" styleClass="ui-button-danger" [disabled]="inpsectablePages.length === 0" (click)="clear($event)"></p-button>
            </div>
            <div class="p-col-12 p-col-align-center">
              <br/>
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Hosted devtools:</span>
                <input type="text" pInputText style="width: calc(100% - 388px);" placeholder="Hosted Devtools URL" [(ngModel)]="devtoolsURL">
                <span class="ui-inputgroup-addon">{{devtoolsURLArgs}}...</span>
                <p-button type="button" icon="fa fa-copy" styleClass="ui-button-info" (click)="copyDevtoolsURL($event)"></p-button>
                &nbsp;
                &nbsp;
                <p-button type="button" icon="fa fa-undo" styleClass="ui-button-info" (click)="undo($event)"></p-button>
              </div>
              <br/>
            </div>
            <div class="p-col-12 p-col-align-center p-justify-end">
              <webview id="devtools-view"
                style="border: 1px solid #CCC;width: 100%; height: calc(100vh - 190px);"
                src="about:blank"></webview>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="tabs[1].id">
          <webview id="info-view"
            style="border: 1px solid #CCC;width: 100%; height: calc(100vh - 90px);"
            src="https://docs.google.com/document/d/1WNF-KqRSzPLUUfZqQG5AFeU_Ll8TfWYcJasa_XGf7ro/edit#heading=h.8pmor7vpbvt2"></webview>
        </ng-container>
        <ng-container *ngSwitchCase="tabs[2].id">
          <webview id="blog-view"
            style="border: 1px solid #CCC;width: 100%; height: calc(100vh - 90px);"
            src="http://sandipchitale.blogspot.com/2014/05/devtoolsapp.html"></webview>
          </ng-container>
          <ng-container *ngSwitchCase="tabs[3].id">
            <webview id="github-view"
            style="border: 1px solid #CCC;width: 100%; height: calc(100vh - 90px);"
            src="https://github.com/sandipchitale/DevToolsAppNG"></webview>
        </ng-container>
        <ng-container *ngSwitchCase="tabs[4].id">
          <div class="p-grid p-nogutter">
            <div class="p-col-12 p-col-align-center">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Search API:</span>
                <input type="text"
                  pInputText
                  style="width: calc(100% - 130px);"
                  placeholder="Search for Web and JavaScript API e.g. Window, HTMLElement, RegExp, setTimeout"
                  (keyup.enter)="showApi($event)"
                  [(ngModel)]="api">
                <p-button type="button" icon="fa fa-search" styleClass="ui-button-success" [disabled]="api.trim().length === 0" (click)="showApi($event)"></p-button>
              </div>
            </div>
            <div class="p-col-12 p-col-align-center">
              <br/>
              <webview id="api-view"
              style="border: 1px solid #CCC;width: 100%; height: calc(100vh - 140px);"
              src="https://developer.mozilla.org/en-US/docs/Web/API"></webview>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>